/* Thia index.css is used to write for styling globally */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.5;
  text-decoration: none;
}

body {
  background-color: rgb(226, 226, 226);
}

h1 {
  color: rgb(247, 23, 198);
  background-color: transparent;
}

h2 {
  background-color: transparent;
}

h5 {
  background-color: white;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

button {
  background-color: rgb(197, 184, 194);
  color: white;
  border: none;
  padding: 0px 4px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}
.primary-btn-md {
  border: none;
  color: white;
  background-color: rgb(48, 26, 221);
  font-size: 1rem;
  padding: 0rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

li {
   display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* spacing between buttons */
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
  margin-top: 0.5rem;
}



.btn-sm {
  border: none;
  color: white;
  background-color: rgb(5, 5, 5);
  font-size: 0.8rem;
  padding: 0rem 1rem;  
  transition: all 0.3s;
  margin: 0.5rem;
}

.btn-sm:hover {
  background-color: rgb(70, 70, 70);
  color: white;
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.3s;
}

.primary-btn-md:hover {
  background-color: rgb(12, 0, 105);
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}
